@keyframes grow{
    0%{
        font-size: 34px;
        opacity: 100%;
    }
    100%{
        font-size: 64px;
        opacity: 0%;
    }
}
h1{
    position: relative;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 52px;
    color: rgb(244, 244, 252);
}
#click{
    text-align: center;
    position: relative;
}
body{
    background-color: rgb(95, 95, 95);
}
#btn1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border:none;
    border-radius: 3px;
    background-color:rgb(129, 32, 32);
    position: relative;
}
#btn2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border:none;
    border-radius: 3px;
    background-color:rgb(129, 32, 32);
    position: relative;
}
#btn3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border:none;
    border-radius: 3px;
    background-color:rgb(129, 32, 32);
    position: relative;
}



    
