{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Test Single Page Application</title>
        <link href="{% static 'SinglePage/styles.css' %}" type="text/css" rel="stylesheet">
        <script src="{% static 'SinglePage/page.js' %}"></script>
    </head>
    {% block body %}
    <body>

        <div id="greet">
        <h1>Hello and Welcome!</h1>
    </div>
    <button data-page="page1" id="btn1">Python</button>
        <button data-page="page2" id="btn2">HTML/CSS</button>
        <button data-page="page3" id="btn3">JavaScript</button>

        <div id="page1">
            
        </div>
        <div id="page2">
            
        </div>
        <div id="page3">
        </div>

    </body>
    {% endblock %}
</html>